<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body>
    <form ng-app="myApp" ng-controller="myValidationController" name="myForm" novalidate>
        Username : 
        <input type="text" name="username" ng-model="username" required>
        <span style="color:red" ng-show="myForm.username.$error.required">
            Username is required
        </span>
        <br><br>
        Email : 
        <input type="email" name="email" ng-model="email" required>
        <span style="color:red" ng-show="myForm.email.$error.required">
            Email is required
        </span>
        <span style="color: red;" ng-show="myForm.email.$error.email">
            Invalid email address
        </span>
        <br><br>
        <input type="submit" value="Submit" ng-disabled="myForm.username.$invalid || myForm.email.$invalid">
    </form>

    <script>
        var app = angular.module('myApp', [ ])
        app.controller('myValidationController', function($scope){
            $scope.username = "John Smith"
            $scope.email = "johnsmith@gmail.com"
        })
    </script>
</body>
</html>